@{
	Layout = null;
}

<table class="card">
	<thead>
		<tr>
			<th>@ViewBag.number</th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < ViewBag.moves.Length; i++)
		{
			<tr>
				<th>
					@ViewBag.moves[i]
				</th>
			</tr>
		}
	</tbody>
</table>