@*
    
*@

<div class="tick">
    @for (int i = 0; i < ViewBag.moves.Length; i++)
    {
        @ViewBag.moves[i];
        <hr />
    }
</div>

<style>
    .tick {
        width: 200px;
        background-color: Highlight;
        border-radius: 50px;
        color: white;
    }
</style>