
@{
	ViewData["Title"] = "Игра";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<div id="moves">
	<span class="btn" onclick="move = 'powerup'; makeMove()">Усилиться</span>
	</br>
	</br>
	<span class="btn" onclick="move = 'intellectup'; makeMove()">Усилить интеллект</span>
	</br>
	</br>
	<span class="btn" onclick="move = 'gather'; makeMove()">Добыть</span>
	</br>
	</br>
	<span class="btn" onclick="move = 'attackgroup'; selectTeam()">Атаковать</span>
	</br>
	</br>
	<span class="btn" onclick="move = 'attackrocket'; selectTeam()">Атаковать ракету</span>
	</br>
	</br>
	<span class="btn" onclick="move = 'gift'; selectTeam()">Дарить</span>
	</br>
	</br>
	<span id="getinrocket" class='btn' onclick="move = 'getinrocket'; makeMove()">Сесть в ракету</span>
	</br>
	</br>
</div>
<div id="teams">
</div>
<div id="res">
	<h1 id="msg">@ViewBag.key </h1>
</div>
<input id="k" type="text" value="@ViewBag.key"/>

<script type="text/javascript">
	var move = "s";
	var opt = "";
	var team = "0";
	var checkk = true;

	var proces = true;

	$("#moves").hide();
	$("#teams").hide();
	$("#msg").empty();
	$("#msg").append("Игра еще не началась");

	setInterval(check, 5000);

	function check()
	{
		$.ajax({
			type: "GET",
			url: "/Game/KeyCheck",
			data: { Key: $("#k").val() },

			success: function (result) {
				if (result) {

					if (!checkk) return;
					$.ajax({
						type: "GET",
						url: "/Game/RocketCheck",
						data: { Key: $("#k").val() },

						success: function (result) {
							if (result) {
								$("#getinrocket").show();
							}
							else {
								$("#getinrocket").hide();
							}
						}
					});

					$.ajax({
						type: "GET",
						url: "/Game/MoveCheck",
						data: { Key: $("#k").val() },

						success: function (result) {
							if (result == "Ход не сделан") {
								$("#msg").hide();
								$("#teams").hide();
								$("#moves").show();
							}
							else {
								$("#msg").empty();
								$("#msg").append(result);
								$("#msg").show();
								$("#teams").hide();
								$("#moves").hide();
							}
						}
					});
				}
				else
				{
					$("#teams").hide();
					$("#moves").hide();
					$("#msg").empty();
					$("#msg").show();
					$("#msg").append("Неверный код");
				}
			}
		});
	}

	function selectTeam()
	{
		$.ajax({
			type: "GET",
			url: "/Game/GroupList",

			success: function (result) {
				checkk = false;
				$("#moves").hide();
				$("#msg").hide();

				$("#teams").empty();
				$("#teams").show();
				//$("#teams").append(result);

				//alert(result[1].teamId);

				var i = 0;
				for (var item in result) {
					$("#teams").append("<span class='btn' onclick='team = " + result[i].teamId + "; checkk = true; makeMove()'>" + result[i].name + "</span></br></br>");
					i++;
				}
			}
		});
	}

	function makeMove()
	{
		$.ajax({
			type: "GET",
			url: "/Game/Make",
			data: { Type: move, Key: $("#k").val(), TeamId: team },

			success: function(result) {
				$("#moves").hide();
				$("#teams").hide();

				$("#msg").empty();
				$("#msg").show();
				$("#msg").append(result);
			}
		});
	}
</script>

<style type="text/css">
	.btn {
		width: 20%;
		min-height: 20px;
		background-color: gray;
		border-radius: 200px;
		padding: 5px;
		float: left;
		color: white;
	}
</style>