@{
    ViewData["Title"] = "Войти в игру";
}

<div class="container">
	<div class="row">
		<col-6>
			<h1>@ViewBag.msg</h1>
			<form asp-controller="Home" asp-action="Index" method="post">
				<label>Ваш код:</label><br />
				<input type="text" name="Promo" /><br /><br />
				<input type="submit" value="Войти" class="btn" />
			</form>
		</col-6>
	</div>
</div>
