@{
    ViewData["Title"] = "Войти в игру";
}

<div class="container">
	<div class="row">
		<col-6>
			<h1>@ViewBag.msg</h1>
            <form asp-controller="Home" asp-action="Index" method="post">
                <label>Ваш код:</label><br />
                <input type="text" name="Promo" /><br /><br />
                <label>Ваш псевдоним в игре:</label><br />
                <input type="text" name="Name" /><br /><br />
                <label>Ваше имя:</label><br />
                <input type="text" name="RealName" /><br /><br />
                <label>Ваша почта:</label><br />
                <input type="text" name="Mail" /><br /><br />
                <input type="submit" value="Войти" class="btn" />
            </form>
		</col-6>
	</div>
</div>
