@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>@ViewBag.msg</h1>
    <form asp-controller="Home" asp-action="Index" method="post">
        <label>Логин:</label><br />
        <input type="text" name="mail" /><br /><br />
        <label>Пароль:</label><br />
        <input type="text" name="password" /><br /><br />
        <input type="submit" value="Отправить" />
    </form>
</div>
